<%- include('../partials/header')  %> 
<h1>Index</h1>
<table id="list">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% bands.forEach(function(b){%>
            <tr>
                <td><%=b.name %> </td>
                <td><a href="/bands/<%=b._id%>">Details</a></td>
            </tr>
       <% }); %>
    </tbody>
</table>

<a href="/bands/new">Add Member</a>