<%- include('../partials/header') %>
<h1>Add a new Member</h1>
<form id="new-form" action="/bands" method="POST">
<label>Name:</label>
<input type="text" name="name">
<label>Role:
    <select name="role" class="browser-default">
        <option value="Singer">Voice</option>
        <option value="Violinist">Violin</option>
        <option value="Guitarist">Guitar</option>
        <option value="Pianist">Piano</option>
        <option value="Bassist">Bass</option>
        <option value="Drummer">Drum-kit</option>
    </select>
</label>
<br><br>
<label>Musical Abilities: (seperate with a ,)</label>
<input type="text" name="musicskill">
<input type="submit" value="Add Member">
</form>
