<%- include('../partials/header') %>
<h1>new</h1>
<form id="new-form" action="/bands" method="POST">
<label>Name:</label>
<input type="text" name="name">
<label>Role:</label>
<input type="text" name="role">
<!-- <select name="ability">
<option value="Voice">Voice</option>
<option value="Guitar">Guitar</option>
<option value="Piano">Piano</option>
<option value="Bass">Bass</option>
<option value="Drum-kit">Drum-kit</option>
</select> -->
<br>
<input type="submit" value="Add Member">
</form>
