<%- include('../partials/header')%>
<h2><a href="/bands/edit/<%=band._id%>">Edit Member</a></h2>
<section id="show">
    <div><h4>Name: </h4></div>
    <div><h6><%= band.name %></h6></div><br>
    <div><h4>Role: </h4></div>
    <div><h6><%= band.role %></h6></div><br>
    <div><h4>Abilities: </h4></div>

  </section>